@import './variable.scss';

.container-login {
  background-color: $bgLogin;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn-facebook {
    background-color: $colorBlue1;
    color: white;
  }

  .form-control::-webkit-input-placeholder {
    color: #bec6cc;
    font-size: 14px;
  }
}